 *{
 	margin: 0;
 	padding: 0;
 }

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #314a5b;
}


/*buttons*/

.menu_btn{     /*гамбургер */
 	color: #fa5c65;
	font-size: 36px;
 }

.title>button{    /*read more */
 	background-color: #fa5c65;
 	height: 63px;
 	width:170px;
 	margin-top: 40px;
	border: none;
	border-radius: 3px;
	font-size: 15px;
	text-transform: uppercase;
 }
 .title>button>a{
 	color: #fff;
 }
/*header*/
header{
	background: url("../img/banerlarg.jpg")  no-repeat;
	background-position: top right;
	height: 1057px;
	max-width: 1370px;
	margin: 0 auto;
}
header:hover{
	background: radial-gradient(transparent,rgba(51,77,92,0.3)), url("../img/banerlarg.jpg");
	background-position: top right;
	background-repeat:no-repeat;
}

/*background:liner-gradient(transparent,rgba(0,0,0,0.7)),url("../img/banerlarg.jpg");
	background-repeat:no-repeat;*/


.menu i{
 	color: #fa5c65;
 	font-size: 18px;
 }
 .menu{
 	font-family: 'Montserrat', sans-serif;
 	font-size: 14px;
 }
 .menu li{
 	list-style:none; 
 	height: 30px;
 	display:inline-block; 
 	margin: 30px 20px;
 }
 .menu li a {
 	color: #263742;
 	text-transform: uppercase;

 }
 .menu li a:hover,
 .menu li a:focus {
 	color: #fa5c65;
 	text-transform: uppercase;
 	text-decoration: none;
 	
 }

 .title {
 	font-family: 'Montserrat', sans-serif;
 	font-weight: bold;
 	font-size: 48px;
 	margin-top:300px;
 	text-transform: uppercase;
 }
 .title span{
 	color: #fa5c65;
 }
 .title p{
 	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-transform: none;
 }


/*work*/
.work {
	margin-top: 85px;
}
 .work p, 
 .content{
 	font-size: 15px;
 	color: #9aa0ab;
 }
 p.peace{
 	font-family: 'Montserrat', sans-serif;
 	font-weight: bold;
 	font-size: 26px;
 	text-transform: uppercase;
 	color: #465065;

 }
 .peace span{
 	color: #f0454c;
 }

 .colum{
 	padding: 0 60px 30px 20px;
 	
 }
a.more {
 	text-transform: uppercase;
 	color: #f0454c;
 	text-decoration: none;

 }

 .more i{
 	font-size: 14px;
 	color: #f0454c;
 	padding-left: 5px;
  }

/*portfolio*/

.portfolio p{
font-size: 15px;
 color: #9aa0ab;
}
.portfolio img{

}
.point{
	color: #f0454c;
	font-family: 'Montserrat', sans-serif;
 	font-weight: bold;
 	font-size: 26px;
 	 text-align: center;
}
.part{
	max-width: 380px;
}
p.port{
	margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
 	font-weight: bold;
 	font-size: 26px;
 	text-transform: uppercase;
 	color: #314a5b;
}
.port span{
	color: #f0454c;
}
p.descrip{
	color: #314a5b;
	font-size: 15px;
	font-weight: bold;
}

/*team*/

.our {
	margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
 	font-weight: bold;
 	font-size: 26px;
 	text-transform: uppercase;
 	color: #314a5b;
 	margin-bottom: 30px;
}

.our span{
	color: #f0454c;
}
.our p{
	color: #9aa0ab;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	text-transform: none;
}
.foto{
	float: left;
	margin-right: 15px;
}
.foto:after{
	clear: both;
}
.empl{
	height: 119px;
}
.person{
	
	height: 120px;
	margin-bottom: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}




.job{
color: #f0454c;
margin-bottom: 0;
}
.empl p:first-child {
font-family: 'Montserrat', sans-serif;
 	font-weight: bold;
 	font-size: 26px;
 	text-transform: uppercase;
 	color: #314a5b;
 	margin-bottom: 0;
}


/*footer*/
footer{
	margin-top: 40px;
	color: #b9c0c6;
	margin-bottom: 40px;
}
.line{
	height: 1px;
	background-color: #e6eaed;
	margin-bottom: 30px;
}
.copy{
	text-align: right;

}
footer a,
footer a:hover{
	text-decoration: none;
	color: #b9c0c6;
	font-size: 20px;
	margin-right: 9px;
}
.soc a:hover{
	color: #f0454c;

}
a{
	-moz-transition: active 1s ease-in-out 1s;
}