/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	

}

/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {

header{
			background: url("../img/banerM.jpg")  no-repeat;
			background-position: top right;
		}
header:hover{
			background: radial-gradient(transparent,rgba(51,77,92,0.3)), url("../img/banerM.jpg");
			background-position: top right;
		}

}
/* XSmall Devices, Tablets */
@media only screen and (max-width : 360px) {
		


		header{
			background: url("../img/banerS.jpg")  no-repeat;
			background-position: top right;
		}
		header:hover{
			background: url("../img/banerS.jpg")  no-repeat;
			background-position: top right;
		}


		.menu li{
			min-width: 260px;
			margin:10px;
			text-align: center;
			line-height: 30px;

		}
	
	    ul.menu {
	    	background-color: rgba(255,255,255,0.7);
	    	text-align: center;
	    }
	    .title{
	    	margin-top:378px;
	    	text-shadow: 1px -2px #fff;
	    	font-size: 40px;
	    }
	    /*.title p{
	    	color: #fa5c65;
	    }*/

	    }